@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

@layer components {

    .titulo-1 {
        @apply text-xl font-bold leading-6 text-white;
    }

    .subtitulo {
        @apply mt-2 text-base text-white sm:text-justify;
    }

    .label-input {
        @apply block text-sm font-medium text-white;
    }

    .borde-tarjeta {
        @apply bg-secondary border border-solid border-zinc-500 rounded-md p-5;
    }

    .btn-ok{
        @apply text-white bg-primary-yellow hover:bg-secondary-yellow focus:ring-2 focus:outline-none focus:ring-slate-50 focus:ring-offset-slate-50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center;
    }

    .btn-cancelar{
        @apply focus:outline-none text-white bg-primary-red hover:bg-secondary-red focus:ring-2 focus:ring-secondary-red font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2;
    }

}
